/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* XaoSJs Canvas
------------------------------------------------------ */
#controls {
position: relative;
margin-bottom: 2.5em;
}

#canvas {
position: relative;
width: 100%;
height: 100vh;
}

#fullScreenButton {
position: absolute;
height: 100vh;
width: 100%;
bottom: 0.5em;
visibility: hidden;
}

@media only screen and (max-width: 600px) {
#fullScreenButton {
  visibility: visible;
  opacity: 0;
}
#saveCanvasButton {
  visibility: hidden;
}
}

#resetButton {
position: absolute;
left: 0em;
}

#saveCanvasButton {
position: absolute;
right: 0.1em;
color: white;
visibility: visible;
}
